extends ./layout.pug
block content
	.container
		h1.text-center Bienvenido
	.row
		.col-md-4.col-md-offset-4.text-center
			.col-md-6
				a(href="/login") Ingresa
			.col-md-6
				a(href="/signup") Registrate
	.row
		.col-md-6.col-md-offset-3
			table.table.table-striped
				thead
					th Username
					th Email
					th Password
				if usuarios != null
					each usuario in usuarios
						tr
							td= usuario.username
							td= usuario.email
							td= usuario.password